.login-page-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-container {
  background-color: #f1f1f1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px;
}
.login-app-logo {
  width: 150px;
  align-self: center;
}
